/* ESTILO GERAL */

:root{
    --spanVerde:#94C536;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ffffff;
    height: 100vh;

}

button {
    color: #fff;
}

h2.titulo {
    font-size: 32px;
    text-align: center;
    color: #fff;
}
h2.titulo span {
    color: var(--spanVerde);
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{display: flex;}

.backgroundInicio {
    background-image: url(images/backgroundTopo.png); 
    background-size: cover;
}

/* ESTILO DO CABEÇALHO */
header {
    padding: 20px 4%;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(178, 178, 178, 0.871) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 2;

    border-bottom: 5px solid var(--spanVerde);
}

/*  Estilização do container  */
header .container i {font-size: 12px;}
header .container a{color: white;}
header .container a span{font-size: 12px;}
header .container a:hover{
    text-shadow: none;
    transform: scale(1.06);
}
/*  /. Estilização do container  */

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container a {
    font-size: 16px;
}

header div.logo > a {
    font-family: 'Licorice', cursive;
    color: var(--spanVerde);
}
header div.logo a:hover {
    text-shadow: 0 0 20px #464646;
    cursor: default;
}

header a {
    color: #252525;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    font-size: 18px;
}
header a:hover{
    color: #ffffff;
    transform: scale(1.12);
    text-shadow: 0 0 10px rgb(118, 118, 118);
}

header nav ul {
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

header .btnContato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--spanVerde);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}
header .btnContato button:hover{
    box-shadow: 0px 0px 15px var(--spanVerde);
}